<%-include('partials/header')-%>



<div class="container marketing modules">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="https://imgs.search.brave.com/-voZUVUYM0b4yIVdOCgsOpv9qM1sOtn1mcSLd2DIBcI/rs:fit:643:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/dGJ0enN1QmxLZU5S/NWhSclhiQmFBSGFG/ZCZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/pattams">pattam</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://imgs.search.brave.com/hj-ZLn371b_ksCVwI3KuD1OkBJc4LhQoucZ3KcgJlfI/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5q/dHgtT2lBZlU1c2gx/VG40YV9COGtBSGFF/OCZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/marketSelling">market</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="https://imgs.search.brave.com/Llv15e8pe0yl8hkGaXXEC_pqMDch85-kFwdITuT3Gic/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5t/dThXak5qazVMR3Rs/TGRoTnRtNS1BSGFF/OCZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/govtin">goverment news</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://imgs.search.brave.com/3qvVTDsHWp96SVovf0u6uPsOKi_5fKRxtHaDv6wW01g/rs:fit:240:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5E/YjFfRDNGamRIeFVr/M1F5c3ZYcW5nQUFB/QSZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/community">community</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->















<%-include("partials/footer")-%>
