<%-include('partials/header')-%>




<div class="container marketing modules">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="https://imgs.search.brave.com/-voZUVUYM0b4yIVdOCgsOpv9qM1sOtn1mcSLd2DIBcI/rs:fit:643:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/dGJ0enN1QmxLZU5S/NWhSclhiQmFBSGFG/ZCZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">



        <p><a class="btn btn-outline-success" href="/pattam">pattam</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://imgs.search.brave.com/hj-ZLn371b_ksCVwI3KuD1OkBJc4LhQoucZ3KcgJlfI/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5q/dHgtT2lBZlU1c2gx/VG40YV9COGtBSGFF/OCZwaWQ9QXBp" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/marketBuying">market</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="https://imgs.search.brave.com/OidUoA2kYBxKlV9LeuDCmH4c_bM1aND1a_SYxayT_a4/rs:fit:1024:683:1/g:ce/aHR0cHM6Ly93d3cu/Z29vZHdpbGxhei5v/cmcvd29yZHByZXNz/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDE4/LzA0LzUtMTUtMS0x/MDI0eDY4My5qcGc" class="bd-placeholder-img rounded-circle logo" width="120" height="120" alt="">


        <p><a class="btn btn-outline-success" href="/donation">donation</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->













<%-include("partials/footer")-%>
